In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("/Users/alexmahadevan/Code/raise_a_family/farmers-markets.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8704 entries, 0 to 8703
Data columns (total 59 columns):
FMID             8704 non-null int64
MarketName       8704 non-null object
Website          5226 non-null object
Facebook         3966 non-null object
Twitter          1011 non-null object
Youtube          179 non-null object
OtherMedia       742 non-null object
street           8412 non-null object
city             8665 non-null object
County           8190 non-null object
State            8704 non-null object
zip              7763 non-null object
Season1Date      5503 non-null object
Season1Time      5666 non-null object
Season2Date      452 non-null object
Season2Time      441 non-null object
Season3Date      81 non-null object
Season3Time      77 non-null object
Season4Date      6 non-null object
Season4Time      6 non-null object
x                8675 non-null float64
y                8675 non-null float64
Location         2712 non-null object
Credit           8704 non-null object
WIC              8704 non-null object
WICcash          8704 non-null object
SFMNP            8704 non-null object
SNAP             8704 non-null object
Organic          8704 non-null object
Bakedgoods       8704 non-null object
Cheese           8704 non-null object
Crafts           8704 non-null object
Flowers          8704 non-null object
Eggs             8704 non-null object
Seafood          8704 non-null object
Herbs            8704 non-null object
Vegetables       8704 non-null object
Honey            8704 non-null object
Jams             8704 non-null object
Maple            8704 non-null object
Meat             8704 non-null object
Nursery          8704 non-null object
Nuts             8704 non-null object
Plants           8704 non-null object
Poultry          8704 non-null object
Prepared         8704 non-null object
Soap             8704 non-null object
Trees            8704 non-null object
Wine             8704 non-null object
Coffee           8704 non-null object
Beans            8704 non-null object
Fruits           8704 non-null object
Grains           8704 non-null object
Juices           8704 non-null object
Mushrooms        8704 non-null object
PetFood          8704 non-null object
Tofu             8704 non-null object
WildHarvested    8704 non-null object
updateTime       8704 non-null object
dtypes: float64(2), int64(1), object(56)
memory usage: 3.9+ MB

In [6]:
df['COUNTY'] = df['County'] + ", " + df['State']

In [8]:
df.COUNTY.value_counts()

Los Angeles, California                       121
Cook, Illinois                                 97
New York, New York                             58
Middlesex, Massachusetts                       57
District of Columbia, District of Columbia     57
Worcester, Massachusetts                       55
Philadelphia, Pennsylvania                     49
Hennepin, Minnesota                            46
San Diego, California                          44
Honolulu, Hawaii                               43
King, Washington                               42
Bronx, New York                                40
Dane, Wisconsin                                38
Santa Clara, California                        37
Maricopa, Arizona                              36
Kings, New York                                35
Alameda, California                            34
Hartford, Connecticut                          33
Westchester, New York                          31
Miami-Dade, Florida                            31
Monroe, New York                               29
Fairfield, Connecticut                         29
Multnomah, Oregon                              29
Cuyahoga, Ohio                                 29
Wayne, Michigan                                28
Suffolk, Massachusetts                         27
Contra Costa, California                       26
San Francisco, California                      26
Essex, Massachusetts                           25
Orange, California                             25
                                             ...
Izard, Arkansas                                 1
Barnes, North Dakota                            1
Grant, Washington                               1
Deaf Smith, Texas                               1
Fayette, Indiana                                1
Cherry, Nebraska                                1
Madison, Virginia                               1
Northampton, Virginia                           1
Sweet Grass, Montana                            1
Stevens, Minnesota                              1
Yankton, South Dakota                           1
Bates, Missouri                                 1
Kendall, Illinois                               1
Beadle, South Dakota                            1
Randolph, Indiana                               1
Jackson County, Michigan                        1
Adjuntas, Puerto Rico                           1
Lamar, Alabama                                  1
Gillespie, Texas                                1
Montgomery, Texas                               1
Brazos, Texas                                   1
West Feliciana, Louisiana                       1
Lawrence, Arkansas                              1
Scott, Virginia                                 1
Shelby, Missouri                                1
Dekalb, Alabama                                 1
Whitfield, Georgia                              1
Palo Alto, Iowa                                 1
Cibola, New Mexico                              1
Boone, Iowa                                     1
Name: COUNTY, Length: 2361, dtype: int64

In [9]:
farmers_markets = df.COUNTY.value_counts()

In [11]:
farmers_markets.to_csv("/Users/alexmahadevan/Code/raise_a_family/farmers-markets-by-county.csv")