In [1]:
import pandas as pd

In [2]:
economics = pd.read_csv("/Users/alexmahadevan/Desktop/Projects/Data/metro data/economic situation/ACS_15_5YR_DP03_with_ann.csv")

In [14]:
economics.describe()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC01_VC04,HC02_VC04,HC03_VC04,...,HC03_VC178,HC04_VC178,HC01_VC179,HC02_VC179,HC03_VC179,HC04_VC179,HC01_VC180,HC02_VC180,HC03_VC180,HC04_VC180
count,918,918,918,918,918,918,918,918,918,918,...,918,918,918,918,918,918,918,918,918,918
unique,918,918,918,917,392,917,2,912,663,262,...,161,59,2,2,221,50,2,2,291,77
top,310M200US20460,45520,Geography,30978,142,30978,(X),19758,386,59.5,...,7.4,1.2,(X),(X),12.3,1.3,(X),(X),28.8,2.4
freq,1,1,1,2,9,2,917,2,5,12,...,24,50,917,917,14,50,917,917,11,38

In [4]:
economics = economics.rename(columns={'GEO.display-label' : 'metro' , 'HC01_VC03': 'pop' , 'HC01_VC04': 'labor_force' , 'HC01_VC05' : 'civ_labor_force' , 
                    'HC01_VC06' : 'employed' , 'HC01_VC07' : 'unemployed' , 'HC03_VC31' : 'percent_walked_to_work' , 
                    'HC01_VC27' : 'commuters' , 'HC03_VC30' : 'percent_take_public_transit' , 'HC01_VC85' : 'median_household_income' , 
                    'HC01_VC114' : 'median_family_income' , 'HC03_VC131' : 'percent_with_insurance' , 'HC01_VC12' : 'unemployment_rate' , 
                    'HC03_VC161' : 'percent_in_poverty'})

In [5]:
economics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Columns: 551 entries, GEO.id to HC04_VC180
dtypes: object(551)
memory usage: 3.9+ MB

In [9]:
economics.to_csv("/Users/alexmahadevan/Desktop/test.csv")