# ‘Affordable Places to Raise a Family’ Analysis

## <i>Data Work</i>

In [1]:
import pandas as pd

### Population, Migration and Births

<p>Let's read in the population dataset from 2010 - 2016. As a plus it has births and migration data we can use in the analysis.</p>
<p>Data is courtesy of the [U.S. Census Bureau](https://www2.census.gov/programs-surveys/popest/datasets/2010-2016/metro/totals/cbsa-est2016-alldata.csv).</p>

In [2]:
df = pd.read_csv("/Users/alexmahadevan/Desktop/Projects/Raise a Family/cbsa-est2016-alldata.csv")

<p>If people are moving to a county or metropolitan area, that probably means it's a good place to live.</p>

<p>So we'll go ahead and create a new variable that takes into account the average annual net migration to a region called AVG_NETMIG. The higher the number, the greater average migration to the municipality.</p>
<p>But, wait. Won't way more people be moving to a huge city like Miami than a smaller one like Sarasota?</p>
<p>To control for population amount, let's find the net migration per capita by diving net migration in each year by the population estimate for that year.</p>

In [3]:
df['AVG_NETMIG'] = (df['NETMIG2011']/df['POPESTIMATE2011'] +
df['NETMIG2012']/df['POPESTIMATE2012'] + df['NETMIG2013']/df['POPESTIMATE2013'] +
df['NETMIG2014']/df['POPESTIMATE2014'] + df['NETMIG2015']/df['POPESTIMATE2015'] +
df['NETMIG2016']/df['POPESTIMATE2016'])/6

<p>But, we also want to take into account the overall change in population between 2010 and 2016.</p>

<p>So we will create a new variable called POP_CHANGE.</p>

In [4]:
df['POP_CHANGE'] = (df['POPESTIMATE2016'] - df['POPESTIMATE2010']) / df['POPESTIMATE2010']

<p>You probably want to raise a family where other people are raising a family right?</p>
<p>This statistics may not be the best (since sometimes high birth rates correlate with poverty), but let's create a new variable for births per capita for 2016.</p>
<p>We shall call it BIRTHS_PER_CAPITA.</p>

In [5]:
df['BIRTHS_PER_CAPITA'] = df['BIRTHS2016']/df['POPESTIMATE2016']

<p>Are there any other variables we can create that would be important to someone looking to raise a family?</p>

<p>Not from this dataset, but while we're thinking about it, let's drill it down to the 382 metropolitan statistical areas.</p>

<p>First, let's count the number of types in the variable LSAD to make sure we have 382.</p>

In [6]:
df.LSAD.value_counts()

County or equivalent             1825
Micropolitan Statistical Area     551
Metropolitan Statistical Area     382
Metropolitan Division              31
Name: LSAD, dtype: int64

<p>Success! Now, let's drill it down by creating a new dataframe called MSA_POP.</p>

In [7]:
MSA_POP = df[df.LSAD == 'Metropolitan Statistical Area']

<p><b>Let's just leave that there for now, and explore other variables we can add to this analysis.</b></p>

### Museums

<p>I found a data set that has all of the museums in cities, let's have a look at that.</p>

In [8]:
MUSEUM = pd.read_csv("/Users/alexmahadevan/Desktop/Projects/Raise a Family/Workbook1.csv")

In [9]:
MUSEUM.head()

        ADCITY ADSTATE       Unnamed: 2
0        SITKA      AK        SITKA, AK
1  KING SALMON      AK  KING SALMON, AK
2    FAIRBANKS      AK    FAIRBANKS, AK
3       PALMER      AK       PALMER, AK
4       KODIAK      AK       KODIAK, AK

<p>As you can see, we need to concatenate the city and state variables since there are a ton of similarly named cities throughout U.S. states</p>

In [10]:
MUSEUM['CITY'] = MUSEUM['ADCITY'] + ", " + MUSEUM['ADSTATE']

In [11]:
MUSEUM.CITY.value_counts()

NEW YORK, NY            297
CHICAGO, IL             193
WASHINGTON, DC          188
PHILADELPHIA, PA        179
LOS ANGELES, CA         162
HOUSTON, TX             133
BALTIMORE, MD           120
SAN FRANCISCO, CA       119
SEATTLE, WA             103
AUSTIN, TX               96
PORTLAND, OR             96
SAN DIEGO, CA            96
DALLAS, TX               94
BOSTON, MA               93
DENVER, CO               89
ATLANTA, GA              87
PITTSBURGH, PA           84
BROOKLYN, NY             77
LOUISVILLE, KY           76
CINCINNATI, OH           76
NEW ORLEANS, LA          72
MILWAUKEE, WI            70
RICHMOND, VA             69
SAN ANTONIO, TX          69
ALBUQUERQUE, NM          68
TUCSON, AZ               68
HUGO, OK                 67
CLEVELAND, OH            65
HONOLULU, HI             64
MIAMI, FL                64
                       ...
HOUSTON TX, TX            1
FOREST PARK, GA           1
READS LANDING, MN         1
FREEPORT, MI              1
MOULTRIE, GA              1
COALGATE, OK              1
LYONS, OH                 1
OFALLON, MO               1
GALETON, PA               1
BUTTE FALLS, OR           1
FREEPORT, TX              1
N FT MYERS, FL            1
WARREN, AR                1
COLE CAMP, MO             1
MONMOUTH, ME              1
NOTTINGHAM, NH            1
ELIZABETH CIT, NC         1
GRAND COULEE, WA          1
BAY PORT, MI              1
DUNDEE, NY                1
ISLE, MN                  1
DIX HILLS, NY             1
FLORESVILLE, TX           1
SANTA ROSA BEACH, FL      1
N MANCHESTER, IN          1
BEOOKFIELD, WI            1
LAKE BUTLER, FL           1
SOUTH FORK, CO            1
BASEHOR, KS               1
GREENVILLE, AL            1
Name: CITY, Length: 12022, dtype: int64

<p>Now, let's create a new database with each city and the amount of museums in each.</p>

In [12]:
MUSEUM_CITIES = MUSEUM.CITY.value_counts()

In [13]:
MUSEUM_CITIES.head()

NEW YORK, NY        297
CHICAGO, IL         193
WASHINGTON, DC      188
PHILADELPHIA, PA    179
LOS ANGELES, CA     162
Name: CITY, dtype: int64

<p>Eventually, we should adjust this for population, but 12,022 is a lot of cities to do that with.</p>
<p>So let's leave that database there for now until we pare down our metro data, then we can match the cities with metros that are statistically significant with their museum score.</p>

<p><b>Let's find some more data to mess with</b></p>

### Home Prices
<p>This data is courtesy of the [National Association of Realtors](https://www.nar.realtor/topics/metropolitan-median-area-prices-and-affordability).

<p>The numbers are in thousands.</p>

In [14]:
HOME_PRICES = pd.read_csv("/Users/alexmahadevan/Desktop/Projects/Raise a Family/Homeprices.csv")

In [15]:
HOME_PRICES.head(1)

    CBSA Metropolitan Area   2014   2015   2016   2017 Change
0  10180       Abilene, TX  136.2  151.7  157.5  158.8   2.2%

<p>Again, we have created the dataframe, so let's just leave it here for now and continue.</p>

### Population, Migration and Births (Counties)
<p>Here we're doing essentially what we did above with metropolitan statistical areas, but with counties, to give us another option for a starting point.</p>
<p>Data is also courtesy of the [U.S. Census Bureau](https://www2.census.gov/programs-surveys/popest/datasets/2010-2016/counties/totals/co-est2016-alldata.csv)

In [16]:
df_COUNTY = pd.read_csv("/Users/alexmahadevan/Desktop/Projects/Raise a Family/COUNTY_POPULATION.csv")

<p>Just as we did with metros, let's find the average net migration for the county dataframe.</p>

In [17]:
df_COUNTY['AVG_NETMIG'] = (df_COUNTY['RNETMIG2011'] + df_COUNTY['RNETMIG2012'] +
                           df_COUNTY['RNETMIG2013'] + df_COUNTY['RNETMIG2014'] +
                           df_COUNTY['RNETMIG2015'] + df_COUNTY['RNETMIG2016']) / 6

In [18]:
df_COUNTY.head(1)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CODE,CENSUS2010POP,ESTIMATESBASE2010,...,RDOMESTICMIG2014,RDOMESTICMIG2015,RDOMESTICMIG2016,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,AVG_NETMIG
0,40,3,6,1,0,Alabama,Alabama,1Alabama,4779736,4780131,...,0.086842,-0.642255,-0.177829,0.709411,1.062617,1.202226,1.065267,0.41167,0.797351,0.874757

<p>Now let's look at population change.</p>

In [19]:
df_COUNTY['POP_CHANGE'] = (df_COUNTY['POPESTIMATE2016'] - df_COUNTY['POPESTIMATE2010']) / df_COUNTY['POPESTIMATE2010']

<p>And again, despite some questions about births as an indicator, let's add births per capita to this whole mix.</p>

In [20]:
df_COUNTY['BIRTHS_PER_CAPITA'] = df_COUNTY['BIRTHS2016']/df_COUNTY['POPESTIMATE2016']

In [21]:
df_COUNTY.head(1)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CODE,CENSUS2010POP,ESTIMATESBASE2010,...,RDOMESTICMIG2016,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,AVG_NETMIG,POP_CHANGE,BIRTHS_PER_CAPITA
0,40,3,6,1,0,Alabama,Alabama,1Alabama,4779736,4780131,...,-0.177829,0.709411,1.062617,1.202226,1.065267,0.41167,0.797351,0.874757,0.016259,0.01204

In [22]:
df_COUNTY.sort_values("BIRTHS_PER_CAPITA", ascending=False).head(1)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CODE,CENSUS2010POP,ESTIMATESBASE2010,...,RDOMESTICMIG2016,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,AVG_NETMIG,POP_CHANGE,BIRTHS_PER_CAPITA
935,50,2,4,20,61,Kansas,Geary County,20Geary County,34362,34362,...,-67.137955,-24.821138,50.185671,-52.458578,-29.819912,-15.448733,-62.177023,-22.423285,0.008559,0.030012

<p>Hmmmm. Some very interesting counties ranking high there!</p>
<p>Let's leave that, and look at some economic statistics</p>

### Local Economic Indicators
<p>Data is courtesy of the [The U.S. Census Bureau](https://www.census.gov/data/tables/2016/demo/income-poverty/p60-256.html).

In [23]:
UNEMPLOYMENT = pd.read_csv("/Users/alexmahadevan/Desktop/Projects/Raise a Family/LOCAL_ECONOMICS.csv")

In [24]:
UNEMPLOYMENT.head(1)

,CTYNAME,CODE,Area_name,Unemployment_rate_2016,Median_Household_Income_2015,Med_HH_Income_Percent_of_State_Total_2015
0,Alabama,1Alabama,Alabama,6.0,"44,833",100.0

<p>You'll probably notice a weird variable in there called CODE. (Actually, since you're smart enough to look at the methodology for this study you probably noticed back in the county population data.)</p>
<p>I had to use some trickery to create a variable we could use to merge df_COUNTY and EMPLOYMENT. I did that by concatenating the state code number and the county name. I did this because there are tons of counties with the same name.</p>

In [25]:
UNEMPLOYMENT.CODE.head(1)

0    1Alabama
Name: CODE, dtype: object

<p>Now we just have to merge the two data frames, so we can work from the same place.</p> 
<p>This should give us a good snapshot of each county's economy, which we can use as a starting point for our analysis</p>

In [26]:
MERGED = pd.merge(df_COUNTY, UNEMPLOYMENT, on='CODE')

In [27]:
MERGED.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME_x,CODE,CENSUS2010POP,ESTIMATESBASE2010,...,RNETMIG2015,RNETMIG2016,AVG_NETMIG,POP_CHANGE,BIRTHS_PER_CAPITA,CTYNAME_y,Area_name,Unemployment_rate_2016,Median_Household_Income_2015,Med_HH_Income_Percent_of_State_Total_2015
0,40,3,6,1,0,Alabama,Alabama,1Alabama,4779736,4780131,...,0.411670,0.797351,0.874757,0.016259,0.012040,Alabama,Alabama,6.0,"44,833",100.0
1,50,3,6,1,1,Alabama,Autauga County,1Autauga County,54571,54571,...,-2.654256,4.255281,0.026241,0.012312,0.011387,Autauga County,"Autauga County, AL",5.3,"56,580",126.2
2,50,3,6,1,3,Alabama,Baldwin County,1Baldwin County,182265,182265,...,18.585398,20.807611,19.461493,0.138451,0.010903,Baldwin County,"Baldwin County, AL",5.4,"52,387",116.8
3,50,3,6,1,5,Alabama,Barbour County,1Barbour County,27457,27457,...,-16.819716,-9.686991,-7.845474,-0.050570,0.009744,Barbour County,"Barbour County, AL",8.6,"31,433",70.1
4,50,3,6,1,7,Alabama,Bibb County,1Bibb County,22915,22919,...,0.887469,2.300681,-1.863208,-0.009536,0.011748,Bibb County,"Bibb County, AL",6.6,"40,767",90.9

In [28]:
MERGED.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3193 entries, 0 to 3192
Columns: 125 entries, SUMLEV to Med_HH_Income_Percent_of_State_Total_2015
dtypes: float64(41), int64(78), object(6)
memory usage: 3.1+ MB

<p>As you can see, we end up with 3,193 entries, so we didn't lose any observations. Nice.</p>
<p>Still, you'll also notice I left states in there. I might do something with those later.</p>

### Cities (ALL OF THEM!!!)

<p>Now the problem we're going to deal with, is that counties are not cities.</p>
<p>So, I've assembled a list of (what I believe is) every city in the U.S. Now we have to figure out how to match the data.</p>
<p>Let's load this sucker in.</p>

In [29]:
MERGED.to_csv("/Users/alexmahadevan/Desktop/ttttt.csv")

In [30]:
cities = pd.read_csv("/Users/alexmahadevan/Desktop/Projects/ALL_US_CITIES/csv/us-cities.csv")

In [31]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45619 entries, 0 to 45618
Data columns (total 16 columns):
id               45619 non-null int64
name             45619 non-null object
county           45619 non-null object
state_code       45619 non-null object
state            45619 non-null object
zip_codes        45619 non-null object
type             45619 non-null object
latitude         45619 non-null float64
longitude        45619 non-null float64
area_code        45619 non-null object
population       45619 non-null int64
households       45619 non-null int64
median_income    45619 non-null int64
land_area        45619 non-null int64
water_area       45619 non-null int64
time_zone        45619 non-null object
dtypes: float64(2), int64(6), object(8)
memory usage: 5.6+ MB

<p>This looks clean, and with 45,619, we probably have most of the cities in the U.S.</p>

In [32]:
cities.head(1)

,id,name,county,state_code,state,zip_codes,type,latitude,longitude,area_code,population,households,median_income,land_area,water_area,time_zone
0,1,Adak,Aleutians West Census Area,AK,Alaska,99546,City,51.88,-176.65806,907,329,36,78500,88011658,88530676,America/Adak

<p>First we have to create a variable that is common between the two lists. We'll now concatenate the county name and state to create such a variable.</p>

In [33]:
cities['MATCH'] = cities['county'] + ", " + cities['state']

In [34]:
cities.head(1)

,id,name,county,state_code,state,zip_codes,type,latitude,longitude,area_code,population,households,median_income,land_area,water_area,time_zone,MATCH
0,1,Adak,Aleutians West Census Area,AK,Alaska,99546,City,51.88,-176.65806,907,329,36,78500,88011658,88530676,America/Adak,"Aleutians West Census Area, Alaska"

In [35]:
MERGED['MATCH'] = MERGED['CTYNAME_x'] + ", " + MERGED['STNAME']

In [36]:
MERGED.head(1)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME_x,CODE,CENSUS2010POP,ESTIMATESBASE2010,...,RNETMIG2016,AVG_NETMIG,POP_CHANGE,BIRTHS_PER_CAPITA,CTYNAME_y,Area_name,Unemployment_rate_2016,Median_Household_Income_2015,Med_HH_Income_Percent_of_State_Total_2015,MATCH
0,40,3,6,1,0,Alabama,Alabama,1Alabama,4779736,4780131,...,0.797351,0.874757,0.016259,0.01204,Alabama,Alabama,6.0,"44,833",100.0,"Alabama, Alabama"

In [37]:
df_location = pd.merge(cities, MERGED, on='MATCH')

In [38]:
df_location.head()

,id,name,county,state_code,state,zip_codes,type,latitude,longitude,area_code,...,RNETMIG2015,RNETMIG2016,AVG_NETMIG,POP_CHANGE,BIRTHS_PER_CAPITA,CTYNAME_y,Area_name,Unemployment_rate_2016,Median_Household_Income_2015,Med_HH_Income_Percent_of_State_Total_2015
0,1,Adak,Aleutians West Census Area,AK,Alaska,99546,City,51.88000,-176.65806,907,...,-9.375814,-21.429826,-1.020986,0.018211,0.005313,Aleutians West Census Area,"Aleutians West Census Area, AK",3.3,"80,695",110.0
1,21,Atka,Aleutians West Census Area,AK,Alaska,99547,City,52.19611,-174.20056,907,...,-9.375814,-21.429826,-1.020986,0.018211,0.005313,Aleutians West Census Area,"Aleutians West Census Area, AK",3.3,"80,695",110.0
2,24,Attu Station,Aleutians West Census Area,AK,Alaska,96950,CDP,52.88025,173.25608,907,...,-9.375814,-21.429826,-1.020986,0.018211,0.005313,Aleutians West Census Area,"Aleutians West Census Area, AK",3.3,"80,695",110.0
3,225,Nikolski,Aleutians West Census Area,AK,Alaska,99638,CDP,52.93806,-168.86778,907,...,-9.375814,-21.429826,-1.020986,0.018211,0.005313,Aleutians West Census Area,"Aleutians West Census Area, AK",3.3,"80,695",110.0
4,304,St. George,Aleutians West Census Area,AK,Alaska,99591,City,56.60000,-169.54167,907,...,-9.375814,-21.429826,-1.020986,0.018211,0.005313,Aleutians West Census Area,"Aleutians West Census Area, AK",3.3,"80,695",110.0

In [39]:
df_location.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44343 entries, 0 to 44342
Columns: 142 entries, id to Med_HH_Income_Percent_of_State_Total_2015
dtypes: float64(43), int64(84), object(15)
memory usage: 48.4+ MB

<p>Now, I'm going to send it off-site to examine and clean up in Excel.</p>

In [40]:
df_location.to_csv("/Users/alexmahadevan/Desktop/Projects/Raise a Family/locations.csv")

<p>OK, now I'll read it back in. I'm just going to use the standard df marking for our big data set.</p>

In [41]:
df = pd.read_csv("/Users/alexmahadevan/Desktop/Projects/Raise a Family/locations.csv")

In [42]:
df.head(1)

,Unnamed: 0,id,name,county,state_code,state,zip_codes,type,latitude,longitude,...,RNETMIG2015,RNETMIG2016,AVG_NETMIG,POP_CHANGE,BIRTHS_PER_CAPITA,CTYNAME_y,Area_name,Unemployment_rate_2016,Median_Household_Income_2015,Med_HH_Income_Percent_of_State_Total_2015
0,0,1,Adak,Aleutians West Census Area,AK,Alaska,99546,City,51.88,-176.65806,...,-9.375814,-21.429826,-1.020986,0.018211,0.005313,Aleutians West Census Area,"Aleutians West Census Area, AK",3.3,"80,695",110.0

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44343 entries, 0 to 44342
Columns: 143 entries, Unnamed: 0 to Med_HH_Income_Percent_of_State_Total_2015
dtypes: float64(43), int64(85), object(15)
memory usage: 48.4+ MB

In [44]:
df.sort_values('median_income' , ascending=True)

,Unnamed: 0,id,name,county,state_code,state,zip_codes,type,latitude,longitude,...,RNETMIG2015,RNETMIG2016,AVG_NETMIG,POP_CHANGE,BIRTHS_PER_CAPITA,CTYNAME_y,Area_name,Unemployment_rate_2016,Median_Household_Income_2015,Med_HH_Income_Percent_of_State_Total_2015
2504,2504,3252,Storrie,Plumas County,CA,California,95915 / 95980,CDP,39.91739,-121.32330,...,-3.948721,15.447769,-7.399516,-0.064816,0.007623,Plumas County,"Plumas County, CA",9.6,"46,813",72.6
27008,27008,27918,Winston,Sierra County,NM,New Mexico,87943,CDP,33.34674,-107.64726,...,4.252303,4.097631,-0.651669,-0.069742,0.009561,Sierra County,"Sierra County, NM",8.5,"29,432",64.7
3166,3166,2700,Little Valley,Lassen County,CA,California,96056,CDP,40.89433,-121.17747,...,-15.258458,-20.256258,-23.396738,-0.113899,0.010236,Lassen County,"Lassen County, CA",6.9,"54,670",84.8
26995,26995,27885,Trout Valley,Grant County,NM,New Mexico,88061,CDP,33.03622,-108.18926,...,-12.996942,-7.740483,-5.440575,-0.038063,0.010431,Grant County,"Grant County, NM",6.6,"39,792",87.4
26987,26987,27665,Lake Roberts Heights,Grant County,NM,New Mexico,88061,CDP,33.02708,-108.13815,...,-12.996942,-7.740483,-5.440575,-0.038063,0.010431,Grant County,"Grant County, NM",6.6,"39,792",87.4
3154,3154,2418,Fort Dick,Del Norte County,CA,California,95531 / 95538,CDP,41.86789,-124.14897,...,0.146646,6.819715,-7.704949,-0.035782,0.010966,Del Norte County,"Del Norte County, CA",7.5,"38,963",60.4
26975,26975,27804,Rivers,Catron County,NM,New Mexico,87830,CDP,33.67460,-108.77945,...,-17.436044,11.769772,-4.749193,-0.061781,0.006556,Catron County,"Catron County, NM",8.2,"36,570",80.3
26967,26967,27698,Lower Frisco,Catron County,NM,New Mexico,87830,CDP,33.65304,-108.78756,...,-17.436044,11.769772,-4.749193,-0.061781,0.006556,Catron County,"Catron County, NM",8.2,"36,570",80.3
26955,26955,27743,Newkirk,Guadalupe County,NM,New Mexico,88417 / 88431,CDP,35.06839,-104.26470,...,-17.482121,2.288330,-12.623075,-0.067349,0.008455,Guadalupe County,"Guadalupe County, NM",6.5,"31,710",69.7
26932,26932,27831,San Luis,Sandoval County,NM,New Mexico,87053,CDP,35.68253,-107.05060,...,8.587010,16.245706,7.569240,0.072939,0.010343,Sandoval County,"Sandoval County, NM",6.7,"62,833",138.0
235,235,93,Eureka Roadhouse,Matanuska-Susitna Borough,AK,Alaska,99588 / 99674,CDP,61.93861,-147.16806,...,19.827811,22.094070,16.000969,0.162634,0.014507,Matanuska-Susitna Borough,"Matanuska-Susitna Borough, AK",8.1,"76,601",104.4
26815,26815,27725,Moquino,Cibola County,NM,New Mexico,87014,CDP,35.17254,-107.36894,...,-1.501144,3.576055,-3.548232,0.006334,0.013279,Cibola County,"Cibola County, NM",8.3,"35,580",78.2
3082,3082,3077,Robinson Mill,Butte County,CA,California,95966,CDP,39.48563,-121.32016,...,4.140464,6.763766,4.271906,0.031280,0.011108,Butte County,"Butte County, CA",6.5,"45,369",70.4
26809,26809,27612,Fence Lake,Cibola County,NM,New Mexico,87315,CDP,34.65338,-108.67785,...,-1.501144,3.576055,-3.548232,0.006334,0.013279,Cibola County,"Cibola County, NM",8.3,"35,580",78.2
26774,26774,27529,Canova,Rio Arriba County,NM,New Mexico,87582,CDP,36.15919,-105.98502,...,-8.149569,10.833773,-4.450761,-0.006698,0.012637,Rio Arriba County,"Rio Arriba County, NM",7.5,"37,319",82.0
3065,3065,2203,Clipper Mills,Butte County,CA,California,95930 / 95941,CDP,39.53267,-121.15746,...,4.140464,6.763766,4.271906,0.031280,0.011108,Butte County,"Butte County, CA",6.5,"45,369",70.4
26758,26758,27662,La Joya,Socorro County,NM,New Mexico,87028,CDP,34.34618,-106.84558,...,-8.221875,-13.489445,-10.419328,-0.043588,0.011746,Socorro County,"Socorro County, NM",7.5,"33,673",74.0
26268,26268,27302,Ross Corner,Sussex County,NJ,New Jersey,07822,CDP,41.12010,-74.71266,...,-9.589697,-5.351390,-7.562840,-0.042397,0.008672,Sussex County,"Sussex County, NJ",4.7,"84,431",116.7
296,296,327,Tolsona,Valdez-Cordova Census Area,AK,Alaska,99588,CDP,62.08389,-146.07028,...,-19.295347,-4.822376,-12.875989,-0.031273,0.014110,Valdez-Cordova Census Area,"Valdez-Cordova Census Area, AK",8.2,"70,101",95.5
39675,39675,40244,Lopeño,Zapata County,TX,Texas,78564,CDP,26.71183,-99.10097,...,-8.282582,-15.932652,-10.884150,0.019467,0.019723,Zapata County,"Zapata County, TX",11.0,"35,754",64.2
289,289,208,Nabesna,Valdez-Cordova Census Area,AK,Alaska,99586,CDP,62.37194,-143.00861,...,-19.295347,-4.822376,-12.875989,-0.031273,0.014110,Valdez-Cordova Census Area,"Valdez-Cordova Census Area, AK",8.2,"70,101",95.5
23558,23558,25000,Rock Island,Williams County,ND,North Dakota,58830,Township,48.59734,-103.46119,...,80.467940,-47.071310,57.572356,0.520278,0.022745,Williams County,"Williams County, ND",4.4,"89,860",145.7
23770,23770,24849,Orrin,Pierce County,ND,North Dakota,58368,CDP,48.09139,-100.16319,...,-14.262710,-6.769374,0.740290,-0.019756,0.010546,Pierce County,"Pierce County, ND",4.1,"43,419",70.4
277,277,53,Chisana,Valdez-Cordova Census Area,AK,Alaska,99566,CDP,62.06611,-142.04083,...,-19.295347,-4.822376,-12.875989,-0.031273,0.014110,Valdez-Cordova Census Area,"Valdez-Cordova Census Area, AK",8.2,"70,101",95.5
38998,38998,39514,Brundage,Dimmit County,TX,Texas,78834,CDP,28.57415,-99.66866,...,-9.354707,-26.159989,3.976012,0.075421,0.016583,Dimmit County,"Dimmit County, TX",7.2,"40,040",71.9
24346,24346,24560,Larson,Burke County,ND,North Dakota,58727,CDP,48.88975,-102.85851,...,28.577709,-62.084257,12.966856,0.122001,0.018653,Burke County,"Burke County, ND",4.9,"68,477",111.0
2971,2971,3338,University of California-Merced,Merced County,CA,California,95340,CDP,37.36408,-120.41883,...,-1.382835,-3.195383,-2.228629,0.046104,0.015588,Merced County,"Merced County, CA",10.5,"42,879",66.5
25537,25537,26348,White Clay,Sheridan County,NE,Nebraska,69365,CDP,42.99693,-102.55461,...,-3.054309,3.445636,-4.094017,-0.040513,0.011081,Sheridan County,"Sheridan County, NE",3.0,"47,005",85.4
3017,3017,3410,Westside,Fresno County,CA,California,93624,CDP,36.40051,-120.13904,...,-0.337935,-0.944650,-1.606888,0.050889,0.016090,Fresno County,"Fresno County, CA",9.4,"46,608",72.3
43990,43990,45059,Bowden,Randolph County,WV,West Virginia,26241 / 26254,CDP,38.90872,-79.70978,...,-2.975274,-3.196975,-0.293144,-0.012360,0.011032,Randolph County,"Randolph County, WV",5.9,"37,185",88.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28443,28443,29748,Scarsdale (Town),Westchester County,NY,New York,10583,Town,40.99205,-73.78063,...,-0.005146,-1.219035,0.816558,0.025199,0.010792,Westchester County,"Westchester County, NY",4.2,"85,688",140.9
23446,23446,24965,Ree,Ward County,ND,North Dakota,58718 / 58734,Township,48.42303,-101.89747,...,13.321605,-28.349660,9.880588,0.130341,0.018843,Ward County,"Ward County, ND",4.2,"61,170",99.2
3447,3447,3556,Crisman,Boulder County,CO,Colorado,80302,CDP,40.04082,-105.36138,...,13.608844,7.638495,10.014224,0.088664,0.009034,Boulder County,"Boulder County, CO",2.7,"72,392",113.2
23784,23784,23828,Big Bend,Mountrail County,ND,North Dakota,58763,Township,47.88383,-102.58371,...,47.661781,-15.377877,37.461258,0.326684,0.017770,Mountrail County,"Mountrail County, ND",3.1,"65,606",106.4
23824,23824,25027,Ross (Township),Mountrail County,ND,North Dakota,58776 / 58784,Township,48.33447,-102.49375,...,47.661781,-15.377877,37.461258,0.326684,0.017770,Mountrail County,"Mountrail County, ND",3.1,"65,606",106.4
37321,37321,37931,Eden,Clark County,SD,South Dakota,57225 / 57236 / 57243,Township,44.92758,-97.55559,...,-4.370988,-10.381095,-3.579159,-0.010555,0.016958,Clark County,"Clark County, SD",3.7,"60,544",113.7
23375,23375,24200,Felson,Pembina County,ND,North Dakota,58220 / 58265,Township,48.94597,-97.62212,...,-8.456660,-0.707164,-7.625540,-0.044342,0.012166,Pembina County,"Pembina County, ND",5.1,"58,683",95.2
23888,23888,24914,Pleasant Hill,Kidder County,ND,North Dakota,58482 / 58532,Township,46.85757,-100.01419,...,-6.625259,-3.317437,-4.881559,-0.010250,0.010356,Kidder County,"Kidder County, ND",3.9,"46,800",75.9
23787,23787,23986,Clearwater,Mountrail County,ND,North Dakota,58769 / 58784,Township,48.41814,-102.30278,...,47.661781,-15.377877,37.461258,0.326684,0.017770,Mountrail County,"Mountrail County, ND",3.1,"65,606",106.4
23560,23560,25058,Sauk Valley,Williams County,ND,North Dakota,58755 / 58795 / 58852,Township,48.58372,-102.94426,...,80.467940,-47.071310,57.572356,0.520278,0.022745,Williams County,"Williams County, ND",4.4,"89,860",145.7
13167,13167,13532,Washington,Sherman County,KS,Kansas,67733 / 67735,Township,39.32982,-101.55852,...,-17.940199,-1.004941,-2.436453,-0.007322,0.012741,Sherman County,"Sherman County, KS",3.5,"42,491",79.0
23631,23631,23756,Arnegard (Township),McKenzie County,ND,North Dakota,58831 / 58835,Township,47.80093,-103.48694,...,135.567531,-32.739149,99.141486,0.972648,0.023295,McKenzie County,"McKenzie County, ND",3.8,"82,906",134.4
24181,24181,24939,Pratt,McHenry County,ND,North Dakota,58731 / 58762 / 58789,Township,48.58181,-100.98382,...,-0.838715,-2.682763,14.930251,0.104873,0.012242,McHenry County,"McHenry County, ND",5.1,"56,351",91.4
36821,36821,37667,Bangor,Brookings County,SD,South Dakota,57071 / 57212,Township,44.31871,-97.05851,...,8.445594,0.000000,4.085065,0.066152,0.012714,Brookings County,"Brookings County, SD",2.6,"55,749",104.7
40244,40244,41633,Greenbackville,Accomack County,VA,Virginia,23356,CDP,38.01151,-75.39020,...,0.817946,1.243517,-0.012741,-0.006543,0.011473,Accomack County,"Accomack County, VA",4.8,"38,690",58.4
37049,37049,38299,Lone Rock,Moody County,SD,South Dakota,56164 / 57028,Township,43.98035,-96.48907,...,-0.623441,3.866677,-5.144609,0.003858,0.014758,Moody County,"Moody County, SD",3.4,"54,729",102.8
36671,36671,38527,Prairiewood,Brown County,SD,South Dakota,57401,Township,45.50938,-98.41940,...,3.058262,8.531743,8.120473,0.067583,0.012293,Brown County,"Brown County, SD",2.5,"52,065",97.8
23192,23192,23879,Briarwood,Cass County,ND,North Dakota,58104,City,46.78608,-96.79703,...,15.841666,12.203949,16.029981,0.166243,0.015099,Cass County,"Cass County, ND",2.3,"55,946",90.7
12051,12051,12551,Jackson,Sumner County,KS,Kansas,67140 / 67152,Township,37.16993,-97.41580,...,-0.127755,-9.023650,-6.091995,-0.034197,0.011043,Sumner County,"Sumner County, KS",4.4,"51,451",95.6
23215,23215,24282,Gill,Cass County,ND,North Dakota,58079,Township,46.84356,-97.36402,...,15.841666,12.203949,16.029981,0.166243,0.015099,Cass County,"Cass County, ND",2.3,"55,946",90.7
23740,23740,24242,Frederick,Divide County,ND,North Dakota,58730 / 58795 / 58830,Township,48.69119,-103.33105,...,6.565449,-21.815188,23.650379,0.161213,0.012847,Divide County,"Divide County, ND",2.7,"62,922",102.0
24649,24649,25191,Superior,Eddy County,ND,North Dakota,58356,Township,47.63533,-99.06378,...,4.227436,1.693122,6.543324,-0.010076,0.012299,Eddy County,"Eddy County, ND",4.5,"47,804",77.5
37221,37221,38192,Jefferson,Spink County,SD,South Dakota,57424 / 57465,Township,45.02896,-98.45805,...,-12.111920,-7.908203,0.215919,0.001560,0.010436,Spink County,"Spink County, SD",2.9,"46,504",87.3
37231,37231,38524,Prairie Center,Spink County,SD,South Dakota,57436 / 57440,Township,44.93713,-98.15619,...,-12.111920,-7.908203,0.215919,0.001560,0.010436,Spink County,"Spink County, SD",2.9,"46,504",87.3
23714,23714,25291,Wadsworth,Stutsman County,ND,North Dakota,58496,Township,47.20346,-99.28025,...,-2.553312,1.041765,0.751330,0.000189,0.011217,Stutsman County,"Stutsman County, ND",2.5,"54,925",89.1
24168,24168,24532,Lake Hester,McHenry County,ND,North Dakota,58744 / 58792,Township,48.05873,-100.70165,...,-0.838715,-2.682763,14.930251,0.104873,0.012242,McHenry County,"McHenry County, ND",5.1,"56,351",91.4
23715,23715,25307,Walters,Stutsman County,ND,North Dakota,58421 / 58476,Township,47.27659,-99.03301,...,-2.553312,1.041765,0.751330,0.000189,0.011217,Stutsman County,"Stutsman County, ND",2.5,"54,925",89.1
21211,21211,21731,Moss Creek,Carroll County,MO,Missouri,64633 / 64668,Township,39.31002,-93.58817,...,-4.124861,-0.447978,-5.396346,-0.040478,0.010322,Carroll County,"Carroll County, MO",5.4,"43,638",86.9
24861,24861,25605,Corner,Custer County,NE,Nebraska,68874,Township,41.69790,-99.26959,...,4.364582,0.370216,-1.186333,-0.009895,0.012955,Custer County,"Custer County, NE",2.5,"51,014",92.6
23790,23790,24032,Crowfoot,Mountrail County,ND,North Dakota,58734 / 58769,Township,48.49565,-102.19056,...,47.661781,-15.377877,37.461258,0.326684,0.017770,Mountrail County,"Mountrail County, ND",3.1,"65,606",106.4

In [45]:
df['migration_z'] = (df['AVG_NETMIG'] - df.AVG_NETMIG.mean()) / df.AVG_NETMIG.std()

In [46]:
df.head(1)

,Unnamed: 0,id,name,county,state_code,state,zip_codes,type,latitude,longitude,...,RNETMIG2016,AVG_NETMIG,POP_CHANGE,BIRTHS_PER_CAPITA,CTYNAME_y,Area_name,Unemployment_rate_2016,Median_Household_Income_2015,Med_HH_Income_Percent_of_State_Total_2015,migration_z
0,0,1,Adak,Aleutians West Census Area,AK,Alaska,99546,City,51.88,-176.65806,...,-21.429826,-1.020986,0.018211,0.005313,Aleutians West Census Area,"Aleutians West Census Area, AK",3.3,"80,695",110.0,-0.079202

In [47]:
df.head(20)

,Unnamed: 0,id,name,county,state_code,state,zip_codes,type,latitude,longitude,...,RNETMIG2016,AVG_NETMIG,POP_CHANGE,BIRTHS_PER_CAPITA,CTYNAME_y,Area_name,Unemployment_rate_2016,Median_Household_Income_2015,Med_HH_Income_Percent_of_State_Total_2015,migration_z
0,0,1,Adak,Aleutians West Census Area,AK,Alaska,99546,City,51.88000,-176.65806,...,-21.429826,-1.020986,0.018211,0.005313,Aleutians West Census Area,"Aleutians West Census Area, AK",3.3,"80,695",110.0,-0.079202
1,1,21,Atka,Aleutians West Census Area,AK,Alaska,99547,City,52.19611,-174.20056,...,-21.429826,-1.020986,0.018211,0.005313,Aleutians West Census Area,"Aleutians West Census Area, AK",3.3,"80,695",110.0,-0.079202
2,2,24,Attu Station,Aleutians West Census Area,AK,Alaska,96950,CDP,52.88025,173.25608,...,-21.429826,-1.020986,0.018211,0.005313,Aleutians West Census Area,"Aleutians West Census Area, AK",3.3,"80,695",110.0,-0.079202
3,3,225,Nikolski,Aleutians West Census Area,AK,Alaska,99638,CDP,52.93806,-168.86778,...,-21.429826,-1.020986,0.018211,0.005313,Aleutians West Census Area,"Aleutians West Census Area, AK",3.3,"80,695",110.0,-0.079202
4,4,304,St. George,Aleutians West Census Area,AK,Alaska,99591,City,56.60000,-169.54167,...,-21.429826,-1.020986,0.018211,0.005313,Aleutians West Census Area,"Aleutians West Census Area, AK",3.3,"80,695",110.0,-0.079202
5,5,308,St. Paul,Aleutians West Census Area,AK,Alaska,99660,City,57.12222,-170.27500,...,-21.429826,-1.020986,0.018211,0.005313,Aleutians West Census Area,"Aleutians West Census Area, AK",3.3,"80,695",110.0,-0.079202
6,6,338,Unalaska,Aleutians West Census Area,AK,Alaska,99685 / 99692,City,53.87361,-166.53667,...,-21.429826,-1.020986,0.018211,0.005313,Aleutians West Census Area,"Aleutians West Census Area, AK",3.3,"80,695",110.0,-0.079202
7,7,2,Akhiok,Kodiak Island Borough,AK,Alaska,99615,City,56.94556,-154.17028,...,-16.641837,-10.865037,0.005860,0.016239,Kodiak Island Borough,"Kodiak Island Borough, AK",5.0,"67,515",92.0,-1.463795
8,8,10,Aleneva,Kodiak Island Borough,AK,Alaska,99615,CDP,58.06000,-152.90972,...,-16.641837,-10.865037,0.005860,0.016239,Kodiak Island Borough,"Kodiak Island Borough, AK",5.0,"67,515",92.0,-1.463795
9,9,52,Chiniak,Kodiak Island Borough,AK,Alaska,99615,CDP,57.63194,-152.18250,...,-16.641837,-10.865037,0.005860,0.016239,Kodiak Island Borough,"Kodiak Island Borough, AK",5.0,"67,515",92.0,-1.463795
10,10,150,Karluk,Kodiak Island Borough,AK,Alaska,99608 / 99615,CDP,57.57194,-154.45556,...,-16.641837,-10.865037,0.005860,0.016239,Kodiak Island Borough,"Kodiak Island Borough, AK",5.0,"67,515",92.0,-1.463795
11,11,167,Kodiak,Kodiak Island Borough,AK,Alaska,99615 / 99619,City,57.79000,-152.40722,...,-16.641837,-10.865037,0.005860,0.016239,Kodiak Island Borough,"Kodiak Island Borough, AK",5.0,"67,515",92.0,-1.463795
12,12,168,Kodiak Station,Kodiak Island Borough,AK,Alaska,99615,CDP,57.76795,-152.59591,...,-16.641837,-10.865037,0.005860,0.016239,Kodiak Island Borough,"Kodiak Island Borough, AK",5.0,"67,515",92.0,-1.463795
13,13,182,Larsen Bay,Kodiak Island Borough,AK,Alaska,99615 / 99624,City,57.54000,-153.97861,...,-16.641837,-10.865037,0.005860,0.016239,Kodiak Island Borough,"Kodiak Island Borough, AK",5.0,"67,515",92.0,-1.463795
14,14,239,Old Harbor,Kodiak Island Borough,AK,Alaska,99643,City,57.20278,-153.30389,...,-16.641837,-10.865037,0.005860,0.016239,Kodiak Island Borough,"Kodiak Island Borough, AK",5.0,"67,515",92.0,-1.463795
15,15,241,Ouzinkie,Kodiak Island Borough,AK,Alaska,99644,City,57.92361,-152.50222,...,-16.641837,-10.865037,0.005860,0.016239,Kodiak Island Borough,"Kodiak Island Borough, AK",5.0,"67,515",92.0,-1.463795
16,16,266,Port Lions,Kodiak Island Borough,AK,Alaska,99550,City,57.86750,-152.88222,...,-16.641837,-10.865037,0.005860,0.016239,Kodiak Island Borough,"Kodiak Island Borough, AK",5.0,"67,515",92.0,-1.463795
17,17,353,Womens Bay,Kodiak Island Borough,AK,Alaska,99615,CDP,57.68222,-152.66861,...,-16.641837,-10.865037,0.005860,0.016239,Kodiak Island Borough,"Kodiak Island Borough, AK",5.0,"67,515",92.0,-1.463795
18,18,3,Akiachak,Bethel Census Area,AK,Alaska,99551,CDP,60.90944,-161.43139,...,-14.815640,-9.387627,0.052114,0.024210,Bethel Census Area,"Bethel Census Area, AK",14.1,"44,849",61.1,-1.255993
19,19,4,Akiak,Bethel Census Area,AK,Alaska,99552,City,60.91222,-161.21389,...,-14.815640,-9.387627,0.052114,0.024210,Bethel Census Area,"Bethel Census Area, AK",14.1,"44,849",61.1,-1.255993

### Affordability data