In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/alexmahadevan/Code/raise_a_family/county data.csv" , index_col=0)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 3221 entries, 1.0 to nan
Data columns (total 26 columns):
SUMLEV                        3142 non-null float64
REGION                        3142 non-null float64
DIVISION                      3142 non-null float64
STATE                         3142 non-null float64
COUNTY                        3142 non-null float64
STNAME                        3142 non-null object
CTY                           3142 non-null object
POPESTIMATE2016               3142 non-null float64
AVG_NETMIG                    3142 non-null float64
POP_CHANGE                    3142 non-null float64
BIRTHS_PER_CAPITA             3142 non-null float64
MEDIAN_HOUSEHOLD_INCOME       3142 non-null object
PERCENT_W_HEALTH_INSURANCE    3142 non-null float64
PERCENTAGE_IN_POVERTY         3142 non-null float64
PERCENT_WITH_KIDS             3142 non-null float64
BACHELORS_DEGREE              3142 non-null float64
MEDIAN_MORTAGE_PAYMENTS       3142 non-null object
MEDIAN_RENT_PAYMENT           3142 non-null object
2010_FAM_KIDS                 3142 non-null float64
2015_FAM_KIDS                 3142 non-null float64
CHANGE_IN_FAM_WITH_KIDS       3142 non-null float64
INCOME_AS_PERCENT_OF_STATE    3142 non-null float64
UNEMPLOYMENT                  3142 non-null float64
POP_2012                      3136 non-null float64
CRIMES_2012                   3136 non-null float64
VIOLENT_2012                  3136 non-null float64
dtypes: float64(21), object(5)
memory usage: 679.4+ KB

In [24]:
df.head(1)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTY,POPESTIMATE2016,AVG_NETMIG,POP_CHANGE,...,MEDIAN_MORTAGE_PAYMENTS,MEDIAN_RENT_PAYMENT,2010_FAM_KIDS,2015_FAM_KIDS,CHANGE_IN_FAM_WITH_KIDS,INCOME_AS_PERCENT_OF_STATE,UNEMPLOYMENT,POP_2012,CRIMES_2012,VIOLENT_2012
1.0,50.0,3.0,6.0,1.0,1.0,Alabama,"Autauga County, Alabama",55416.0,0.026241,0.012312,...,1180,883,25.7,23.1,-0.101167,126.2,5.3,57161.0,825.0,220.0

In [5]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [16]:
df.POPESTIMATE2016.mean()

102841.34723106302

In [36]:
df['CRIME_RATE'] = df['CRIMES_2012']/df['POP_2012']

In [37]:
df['VIOLENT_CRIME_RATE'] = df['VIOLENT_2012']/df['POP_2012']

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 3221 entries, 1.0 to nan
Data columns (total 39 columns):
SUMLEV                         3142 non-null float64
REGION                         3142 non-null float64
DIVISION                       3142 non-null float64
STATE                          3142 non-null float64
COUNTY                         3142 non-null float64
STNAME                         3142 non-null object
CTY                            3142 non-null object
POPESTIMATE2016                3142 non-null float64
AVG_NETMIG                     3142 non-null float64
POP_CHANGE                     3142 non-null float64
BIRTHS_PER_CAPITA              3142 non-null float64
MEDIAN_HOUSEHOLD_INCOME        3142 non-null object
PERCENT_W_HEALTH_INSURANCE     3142 non-null float64
PERCENTAGE_IN_POVERTY          3142 non-null float64
PERCENT_WITH_KIDS              3142 non-null float64
BACHELORS_DEGREE               3142 non-null float64
MEDIAN_MORTAGE_PAYMENTS        3142 non-null object
MEDIAN_RENT_PAYMENT            3142 non-null object
2010_FAM_KIDS                  3142 non-null float64
2015_FAM_KIDS                  3142 non-null float64
CHANGE_IN_FAM_WITH_KIDS        3142 non-null float64
INCOME_AS_PERCENT_OF_STATE     3142 non-null float64
UNEMPLOYMENT                   3142 non-null float64
POP_2012                       3136 non-null float64
CRIMES_2012                    3136 non-null float64
VIOLENT_2012                   3136 non-null float64
CRIME_RATE                     3132 non-null float64
VIOLENT_CRIME_RATE             3132 non-null float64
zFAMKIDSCHANGE                 3142 non-null float64
zPERCENT_WITH_KIDS             3142 non-null float64
zBIRTHS_PER_CAPITA             3142 non-null float64
zAVG_NETMIG                    3142 non-null float64
zPOP_CHANGE                    3142 non-null float64
zINCOME_AS_PERCENT_OF_STATE    3142 non-null float64
zPERCENTAGE_IN_POVERTY         3142 non-null float64
zPERCENT_W_HEALTH_INSURANCE    3142 non-null float64
zUNEMPLOYMENT                  3142 non-null float64
zBACHELORS_DEGREE              3142 non-null float64
zCRIMES_2012                   3136 non-null float64
dtypes: float64(34), object(5)
memory usage: 1006.6+ KB

In [61]:
df['zFAMKIDSCHANGE'] = (df.CHANGE_IN_FAM_WITH_KIDS - df.CHANGE_IN_FAM_WITH_KIDS.mean())/ df.CHANGE_IN_FAM_WITH_KIDS.std()

In [62]:
df['zPERCENT_WITH_KIDS'] = (df.PERCENT_WITH_KIDS - df.PERCENT_WITH_KIDS.mean())/ df.PERCENT_WITH_KIDS.std()

In [63]:
df['zBIRTHS_PER_CAPITA'] = (df.BIRTHS_PER_CAPITA - df.BIRTHS_PER_CAPITA.mean())/ df.BIRTHS_PER_CAPITA.std()

In [64]:
df['zAVG_NETMIG'] = (df.AVG_NETMIG - df.AVG_NETMIG.mean())/ df.AVG_NETMIG.std()

In [65]:
df['zPOP_CHANGE'] = (df.POP_CHANGE - df.POP_CHANGE.mean())/ df.POP_CHANGE.std()

In [66]:
df['zINCOME_AS_PERCENT_OF_STATE'] = (df.INCOME_AS_PERCENT_OF_STATE - df.INCOME_AS_PERCENT_OF_STATE.mean())/ df.INCOME_AS_PERCENT_OF_STATE.std()

In [67]:
df['zPERCENTAGE_IN_POVERTY'] = -1*((df.PERCENTAGE_IN_POVERTY - df.PERCENTAGE_IN_POVERTY.mean())/ df.PERCENTAGE_IN_POVERTY.std())

In [68]:
df['zPERCENT_W_HEALTH_INSURANCE'] = (df.PERCENT_W_HEALTH_INSURANCE - df.PERCENT_W_HEALTH_INSURANCE.mean())/ df.PERCENT_W_HEALTH_INSURANCE.std()

In [69]:
df['zUNEMPLOYMENT'] = -1*((df.UNEMPLOYMENT - df.UNEMPLOYMENT.mean())/ df.UNEMPLOYMENT.std())

In [70]:
df['zBACHELORS_DEGREE'] = (df.BACHELORS_DEGREE - df.BACHELORS_DEGREE.mean())/ df.BACHELORS_DEGREE.std()

In [71]:
df_new = df[df.POPESTIMATE2016 > 100000]

In [72]:
df_new.to_csv("/Users/alexmahadevan/Desktop/new.csv")